<!DOCTYPE html>
<html lang="en">

  <head>
    <title>SheepIndex</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://static.localhost/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://static.localhost/simpleweibo/main.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container">

      <header calss="row">
	<div class="span12">
	  <nav class="navbar navbar-fixed-top">
	    <div class="navbar-inner" style="padding-right:10px;padding-left:10px;">

	      <a href="#" class="brand">
		<span>SimpleWeibo</span>
	      </a>

	      <ul class="nav">
		<li><a href="index"><i class="icon-home"></i> Index</a></li>
		<li class="active"><a href="#"><i class="icon-comment"></i> Home</a></li>
		<li><a href="#"><i class="icon-info-sign"></i> Timeline</a></li>
		<li class="dropdown">
		  <a href="#" calss="dropdown-toggle" data-toggle="dropdown">
		    <i class="icon-user"></i> Connect
		    <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Twitter</a></li>
		    <li><a href="#">Facebook</a></li>
		    <li><a href="#">Google+</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Contact</a></li>
		  </ul>
		</li>
	      </ul>
	      
	      <form class="navbar-search pull-right">
		<input type="text" class="search-query" placeholder="Search">
	      </form>

	    </div>
	  </nav>
	</div>
      </header>

      <div class="row" id="main-content">
	
	<div id="sidebar" class="span3">

	  <div class="well" style="padding-right:0px;padding-left:0px;min-height:400px">
	    <ul class="nav nav-list">
	      <li class="nav-header">Feed</li>
	      <li class="active"><a href="#">Timeline</a></li>
	      <li><a href="#">Archive</a></li>

	      <li class="nav-header">Profiles</li>
	      <li><a href="#">Friends</a></li>
	      <li><a href="#">Folowing</a></li>
	      <li><a href="#">Follower</a></li>
	    </ul>
	  </div>

	</div>

	<div class="span9" id="grid-container">
	  
	  {% block feeds_html %}Here should be some status{% endblock %}

	</div>


      </div>
    </div>

    <script src="http://static.localhost/lib/jquery-1.10.2.js"></script>
    <script src="http://static.localhost/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://static.localhost/lib/jquery.wookmark.min.js"></script>
    <script src="http://static.localhost/simpleweibo/main.js"></script>

  </body>
</html>
