{% extends "index-list-base.html" %}

{% block feeds_html %}

{% for feed in feed_list %}
<li class="span12">
  <div class="thumbnail feed-entry-wide">

    <div class="feed-entry-content">
      <p>{{ feed.text }}</p>
      <p>{{ feed.retweeted_status.text }}</p>
    </div>

    <hr/>

    <div class="span4 feed-entry-profile">
      <img src="{{ feed.user.avatar_large }}" class="img-polaroid pull-left" style="width:50px;height:50px;">
      <h4>{{ feed.user.name }}</h4>
      <span class="label label-success">Retweeted</span>
      <span class="label label-info">Original</span>
      <span class="label label-default">Comment</span>
    </div>

  </div>
</li>
{% endfor %}

{% endblock %}
