{% extends "base/base.html" %}

{% block title %}
Home
{% endblock %}

{% block home_active %}
class="active"
{% endblock %}

{% block main_content %}
<div id="sidebar" class="span3">
  
  <div class="well" style="padding-right:0px;padding-left:0px;min-height:400px">
    <ul class="nav nav-list">
      <li class="nav-header">Feed</li>
      <li {% block timeline_active %}{% endblock %}><a href="/weibo/home/timeline">Timeline</a></li>
      <li {% block archive_active %}{% endblock %}><a href="/weibo/home/archive">Archive</a></li>
      
      <li class="nav-header">Profiles</li>
      <li {% block following_active %}{% endblock %}><a href="/weibo/home/following">Folowing</a></li>
      <li {% block follower_active %}{% endblock %}><a href="/weibo/home/follower">Follower</a></li>
    </ul>
  </div>
  
</div>

<div class="span9" id="grid-container">
  {% block feed_html %}Here should be some status{% endblock %}
</div>

{% endblock %}
