<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Simple Weibo - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/lib/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" media="screen">

    <link href="/static/mysite/main.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container-fluid">

      <header calss="row-fluid">
	<div class="span12">
	  <nav class="navbar navbar-fixed-top">
	    <div class="navbar-inner" style="padding-right:10px;padding-left:10px;">
	      
	      <a href="/feed/myfeed" class="brand">
		<span>SimpleWeibo</span>
	      </a>
	      
	      <ul class="nav">
		<li {% block index_active %}{% endblock %}>
		  <a href="/feed/myfeed"><i class="icon-home"></i> Index</a>
		</li>
		<li {% block home_active %}{% endblock %}>
		  <a href="/feed/myfeed"><i class="icon-comment"></i> Home</a>
		</li>
		<li {% block search_active %}{% endblock %}>
		  <a href="/feed/myfeed"><i class="icon-info-sign"></i> Timeline</a>
		</li>
		<li class="dropdown">
		  <a href="#" calss="dropdown-toggle" data-toggle="dropdown">
		    <i class="icon-user"></i> Connect
		    <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Weibo</a></li>
		    <li><a href="#">Twitter</a></li>
		    <li><a href="#">Facebook</a></li>
		    <li><a href="#">Google+</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Contact</a></li>
		  </ul>
		</li>
	      </ul>
	      
	      <form action="{% block search_source %}/weibo/search{% endblock %}" method="GET" class="navbar-search pull-right">
		<input id="search-bar" type="text" name="search" class="search-query" placeholder="Search">
	      </form>
	      
	    </div>
	  </nav>
	</div>
      </header>
      
      <div class="row-fluid" id="main-content">
	
	{% block main_content %}{% endblock %}

      </div>

    </div>

    <script src="/static/lib/jquery-1.10.2.js"></script>
    <script src="/static/lib/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/jquery.wookmark.min.js"></script>
    <script src="/static/lib/jquery.flip.js"></script>
    <script src="/static/mysite/main.js"></script>

  </body>
</html>
