{% extends "base/base.html" %}

{% block title %}
Index
{% endblock %}

{% block index_active %}
class="active"
{% endblock %}

{% block main_content %}
<div class="hero-unit">
  <h2>Welcome To Weibo Search</h2>
  <p>
    This is a sina weibo search tool that allows you to search from your own and your friends' content
  </p>
  <a class="btn btn-large btn-primary" href="/weibo/search">Try Now</a>
</div>
<div class="span12" id="grid-container">
  {% block feed_html %}Here should be some status{% endblock %}
</div>
{% endblock %}
