{% extends "base/base.html" %}

{% block title %}
Search
{% endblock %}

{% block search_active %}
class="active"
{% endblock %}

{% block main_content %}
<div id="sidebar" class="span3">
  <ul class="nav nav-tabs nav-stacked">
    <li {% block all_feed_active %}{% endblock %}>
      <a href="/weibo/search/all-feed">All Feed</a>
    </li>
    <li {% block my_feed_active %}{% endblock %}>
      <a href="/weibo/search/my-feed">My Feed</a>
    </li>
    <li {% block home_timeline_active %}{% endblock %}>
      <a href="/weibo/search/home-timeline">Home Timeline</a>
    </li>
    <li {% block archive_active %}{% endblock %}>
      <a href="/weibo/search/archive">Archive</a>
    </li>
  </ul>
</div>

<div class="span9" id="grid-container">
  {% block feed_html %}Here should be some status{% endblock %}
</div>
{% endblock %}

