{% extends 'base/base.html' %}

{% block main_content %}

<div class="span4">
  <div class="well">

    <form method="POST" action="/api/account/login">
      <fieldset>
	<legend>Login</legend>
	<input name="username" type="text" placeholder="Username" class="input-block-level" />
	<input name="password" type="password" placeholder="Password" class="input-block-level" />
	<input type="submit" value="Login" class="btn btn-primary btn-block"/>
	<a href="/account/register" class="btn btn-info btn-block"/>Register</a>
      </fieldset>
    </form>

  </div>
</div>

{% endblock %}
