{% extends 'base/base.html' %}

{% block main_content %}

<div class="span4">
  <div class="well">

    <form method="POST" action="/api/account/register">
      <fieldset>
	<legend>Register</legend>
	<input name="username" type="text" placeholder="Username" class="input-block-level" />
	<input name="password" type="password" placeholder="Password" class="input-block-level" />
	<input name="uid" type="text" placeholder="Weibo UID" class="input-block-level" />
	<input name="token" type="text" placeholder="Access Token" class="input-block-level" />
	<input type="submit" value="Register" class="btn btn-primary btn-block"/>
	<a href="/account/login" class="btn btn-info btn-block"/>Login</a>
      </fieldset>
    </form>

  </div>
</div>

{% endblock %}
