.container {

}

#main-content {
    padding-top:55px;
}

.profile-entry { 
    width: 200px;
    height: 200px;
    position: relative;

}

.profile-front { 
    position:absolute;
    width:100%;
    heihgt:100px;
}

.profile-back { 
    display:none;
}

.profile-back-inner {
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    width:220px;
    height:200px;
    background-color: white;
}
.feed-entry { 

}

.fixed {
    position: fixed;
}


.grid-tile { 
    padding: 8px;
    width: 200px;
    border: solid 1px #D3D3D3;

    moz-box-shadow: 1px 1px 1px 1px rgb(201, 201, 201);
    webkit-shadow: 1px 1px 1px 1px rgb(201, 201, 201);
    box-shadow: 1px 1px 1px 1px rgb(201, 201, 201);
}

#grid-container {
    position: relative;
    padding:0px;
    margin:0px;
}

.feed-entry-wide { 

}



.feed-entry-profile {


}